.jumbotron-background-2 {
    background-image: url(/gambar/kantor-franchise.png);
    background-size: cover;
    height: 1024px;
    text-align: center;
}
/* Akhir Persebaran Perusahaan */

.profile_perusahaan1 img {
    border-radius: 0px 0px 0px 0px;
}

.profile_perusahaan1 {
    margin-top: 60px;
    text-align: left;
}

.profile_perusahaan1 p {
    font-size: 29px;
}

.text-franchise {
    text-align: center;
}

.info-panel-2 {
    background: #FFFFFF;
box-shadow: 0px 0px 4px 2px rgba(208, 208, 208, 0.25);
    margin-top: 30px;
    text-align: center;
    color: black;
    border-radius: 30px 8px 30px 8px;
}

.info-panel-2 img {
    margin-top: 20px;
    text-align: center;
}

.info-panel-2 h4 {
    margin-top: 10px;
}

/* Desktop */
@media (min-width: 1400px) {
    .jumbotron-background-2 {
        background-image: url("/gambar/kantor-franchise.png");
        background-size: cover;
        height: 1024px;
        text-align: center;
    }
    .text-franchise {
        text-align: left;
    }
}
