@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

p {
    font-size: 16px;
    font-weight: 300;
}

/* Navbar */

.nav-link {
    font-family: Roboto;
    text-align: center;
    font-weight: 400;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: white !important;
}

.paging-card {
    text-align: right;
    display: none;
}

.left-paging,
.right-paging {
    background-color: #0056b3;
    color: white;
    height: 40px;
    width: 40px;
    padding: 12px 15px;
    border-radius: 50%;
    margin: 10px;
}

.box {
    z-index: -9999;
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    background-color: #101820;
}

.p-20 {
    padding: 150px 0px 100px 0px;
}

.text-kantor-pusat {
    font-weight: bold;
}

/* Jumbotron */
.jumbotron {
    margin-bottom: 0px;
}

.jumbotron .lead {
    color: #dadada;
    font-size: 30px;
    margin-left: 2px;
    margin-top: 400px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.jumbotron .display-4 span {
    font-weight: 500;
    font-size: 64px;
    color: white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_see_all {
    width: 180px !important;
    height: 42px !important;
    background: #02468f;
    border-radius: 16px 4px 16px 4px;
    color: white;
    padding: 10px;
}

.btn_see_all:hover {
    background: rgb(0, 0, 0);
    color: white;
}

.btn_see_produk {
    width: 180px !important;
    height: 42px !important;
    background: #02468f;
    border-radius: 16px 4px 16px 4px;
    color: white;
    padding: 10px;
}

.btn_see_produk:hover {
    background: white;
}

.pad-4 {
    margin-bottom: 10px;
    flex: 0 0 33.333333%;
    max-width: 15.333333%;
}

.profile-pic {
    width: 40px;
    border-radius: 100%;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: 255px;
    left: auto;
}

.dropdown-user {
    margin: 0;
    padding: 10px;
}

.btn-primary {
    background-color: #136fd1;
    border-color: #136fd1;
}

.card-body {
    padding: 10px 10px 10px 0px;
}

.text-beli h5 {
    font-size: 16px;
}

.btn_franchise {
    width: max-content !important;
    height: 42px !important;
    background: #02468f;
    border-radius: 16px 4px 16px 4px;
    color: white;
    padding: 10px;
}

.rotate {
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.down {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.card-body-1 {
    background-color: white;
    padding: 20px;
}

.card-2 {
    height: max-content !important;
    width: max-content !important;
    max-width: max-content !important;
    box-shadow: none !important;
    border: none !important;
    background: rgba(216, 216, 216, 0.32) !important;
    border-radius: 0 !important;
}

.red-info {
    color: white;
    position: absolute;
    top: 5px;
    right: 0px;
    background: red;
    border-radius: 50%;
    width: 16px;
}

.height {
    height: max-content !important;
}

.card-header {
    background-color: white;
}

.btn_franchise:hover {
    color: black !important;
    background: white;
}

.jumbotron-background-1 {
    background-image: url(/gambar/gambar/background-image.png);
    background-size: cover;
    height: 1024px;
    text-align: center;
}

/* Info Perusahaan */

.info-panel {
    margin-top: 30px;
    text-align: center;
    color: white;
}

.info-panel img {
    margin-top: 20px;
    text-align: center;
}

.info-panel h4 {
    margin-top: 10px;
}

/* Persebaran Perusahaan */

.card {
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.card img {
    border-radius: 20px 20px 0px 0px;
}

/* Akhir Persebaran Perusahaan */

.body-profile {
    width: 100%;
    height: max-content;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    margin-top: -40px;
    margin-bottom: 50px;
    padding: 50px;
}

.body-perusahaan {
    width: 100%;
    height: max-content;
    background-color: #101820;
    padding: 50px 0px 80px 0px;
}

.nav-active {
    background-color: #101820;
    transition: all 0.3s ease-out;
}

.nav-fixed {
    transition: all 0.3s ease-in;
}

.mt-7 {
    margin-top: 7.5rem !important;
}

/* List Produk Dashboard */
.body-produk {
    background-color: #02468f;
    padding: 2px 0px 36px 0px;
}

.body-produk h1 {
    font-weight: 600;
    color: white;
}

.container .xl {
    padding: 0px 220px 0px 220px !important;
}


.card-produk {
    margin: 20px;
    width: 100%;
    max-width: 250px;
    min-width: 150px;
    height: 200px;
    background-color: #e6e1e1;
    border-radius: 30px 8px 30px 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}

.icon {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    max-width: 100px;
    background: #ced0d3;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}

.card-produk-text p {
    margin-top: 12px;
    font-weight: 500;
}

.card-produk:hover .card-produk-hover {
    bottom: 0;
}

.card-produk-hover {
    color: white;
    background-color: #0069D9;
    position: absolute;
    width: 100%;
    bottom: -100%;
    left: 0;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px 8px 30px 8px;
    transition: all 0.5s;
}

/* Penyebarang kota */
.container-kota {
    padding: 0px 220px 0px 220px;
}

.box-kota {
    background-image: url("/gambar/kota/background-lokasi.png");
    background-repeat: no-repeat;
    width: 100%;
    height: max-content;
    border-radius: 30px 8px 30px 8px;
    padding: 30px;
}

.card-kota {
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 30px 8px 30px 8px;
    color: black;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 150px;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    opacity: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-kota:hover .card-produk-hover {
    bottom: 0;
}

.card-kota-content img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hyper-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
}

/* Hose */
.body-hose {
    position: relative;
    background-color: #1C1C1C;
    width: 100%;
    height: max-content;
    padding: 150px 0px 150px 0px;
}

.text-hose {
    color: white;
}

.padding {
    padding: 50px;
}

.card_produk_beli {
    position: relative;
    padding: 40px;
    text-align: center;
    width: 250px;
    height: 250px;
    background: #E8E8E8;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    align-items: center;
    justify-content: center;
    color: black;
    overflow: hidden;
}

.card_produk_hose {
    position: relative;
    padding: 40px;
    text-align: center;
    width: 282px;
    height: 248px;
    background: rgba(250, 250, 250, 0.92);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 8px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: black;
    overflow: hidden;
}

.card_produk_hose:hover .card-produk-hover {
    bottom: 0;
}

.card_produk_hose img {
    justify-self: center;
}

/* Konsultasi */
.box-konsultasi {
    width: 100%;
    height: max-content;
    padding: 50px;
    background: #02468f;
    border-radius: 30px 8px 30px 8px;
    color: white;
}

.btn-konsultasi {
    width: 264px !important;
    height: 49px !important;
    background: white;
    border-radius: 16px 4px 16px 4px;
    color: black;
    padding: 12px;
}

.btn-konsultasi:hover {
    background: #0069D9;
    color: white;
}

.profile_samudera {
    border-radius: 30px 8px 30px 8px;
}

/* Mitra Sejati */
.body_mitra {
    width: 100%;
    height: max-content;
    padding: 50px;
    background: #101820;
    color: white;
}

.text_mitra h5 {
    font-weight: 300;
}

.btn_mitra {
    width: 180px !important;
    height: 42px !important;
    background: #02468f;
    border-radius: 16px 4px 16px 4px;
    color: white;
    padding: 10px;
}

.btn_mitra:hover {
    background: white !important;
}

/* Responsive HP */
@media (max-width: 800px) {
    .img-user {
        width: 0px;
        height: 0px;
        visibility: hidden !important;
    }

    .box-kota {
        background-image: url("");
        background-color: #02468f;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("/gambar/navbar.png");
    }

    .mobile-center {
        text-align: center;
        text-align: -webkit-center;
        place-content: center;
    }

    .row {
        text-align: center;
        text-align: -webkit-center;
        place-content: center;
    }

    .btn-konsultasi {
        margin-top: 20px;
    }

    .top-mobile {
        margin-top: 20px;
    }

    .text-hose {
        text-align: center;
    }

    .card_produk_hose {
        width: 240px;
    }

    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: white !important;
    }

    .navbar-light .navbar-nav .nav-link {
        color: white !important;
    }

    .btn_franchise {
        align-self: center;
    }

    .body-produk-hose {
        background-color: #02468f;
        width: 100%;
        height: max-content;
        text-align: center;
        padding: 60px;
        color: white;
    }
}

/* Desktop */
@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: rgb(211, 211, 211) !important;
    }

    .nav-link {
        position: relative;
        padding-bottom: 8px;
        cursor: pointer;
        margin-right: 50px;
    }

    .nav-link::after {
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        content: "";
        width: 0;
        height: 3px;
        background-color: var(--primary);
        transition: width 0.4s ease-out;
        border-radius: 30px;
    }

    .nav-link:hover::after {
        width: 60%;
    }

    .jumbotron-background-1 {
        background-image: url("/gambar/gambar/background-image.png");
        background-size: cover;
        height: 1110px;
        margin-top: -75px;
        text-align: left;
        align-items: center;
    }

    /* Profile Perusahaan */
    .profile_perusahaan {
        text-align: left;
        align-items: center !important;
    }

    .profile_perusahaan h3 {
        font-weight: 600;
        font-size: 36px;
    }

    .img-user {
        position: absolute;
        right: 50px;
        bottom: 0;
    }

    .body-produk-hose {
        background-image: url("/gambar/produk/background-1.png");
        width: 100%;
        height: max-content;
        padding: 60px;
        color: white;
    }

    .beli_tab {
        background-image: url("/gambar/produk/background-2.png");
        width: 100%;
        padding: 60px;
        color: white;
    }
}

/* Container XL */
@media (min-width: 576px) {
    .container-xl {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-xl {
        max-width: 720px;
    }
}


@media (min-width: 992px) {
    .container-xl {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-xl {
        max-width: 1440px;
    }
}

.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}